<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pizza Club</title>
    <%- include('./partials/head') %>
</head>

<body style="background: rgb(239,239,239);">
    <header style="z-index: 5;">
        <%- include('./partials/header') %>
    </header>
    <main>
        <div class="container">
        <hr><div class="mb-3 text-right">
    <a class="btn btn-link" role="button" href="menu" style="font-family: 'LEMON MILK';font-size: 12px;">Volver a Menu</a><br>
</div>
<div class="card" style="background: transparent; border:none;">
    <div class="card-body" style="background: transparent; padding:0px;">
        <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                        <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">COCA LITRO Y MEDIO</h6>
                        <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">coca litro y medio...<br></p>
                        <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$420,00</p>
                    </div>
                    <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                        <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: url(&quot;&quot;) center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                        </div>
                    </div>
                </div>
                <a href="item.php?id=46" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
            </div>
        </div>
        <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                        <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">LATA LARSEN RED IPA</h6>
                        <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">LATA LARSEN RED IPA ARTESANAL 473CC...<br></p>
                        <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$400,00</p></div><div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=49" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">LATA LARSEN BLONDE</h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">LATA  473CC LARSEN BLONDE ARTESANAL...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$380,00</p>
                        </div>
                        <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=23" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">LATA LARSEN SCOTISH</h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">LATA LARSEN SCOTISH ARTESANAL 473CC...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$380,00</p>
                        </div>
                        <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=24" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">LARSEN PORTER </h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">NEGRA...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$380,00</p>
                        </div>
                        <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=52" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">COCA </h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">COCA COLA PET 500CC...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$230,00</p>
                        </div>
                        <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=26" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">SPRITE</h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">PET SPRITE 550CC...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$230,00</p>
                        </div>
                        <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background:  center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=27" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">FANTA</h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">PET FANTA 500CC...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$230,00</p>
                        </div>
                        <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                            <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                            </div>
                        </div>
                    </div>
                    <a href="item.php?id=28" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                </div>
            </div>
            <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                            <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">COCA ZERO</h6>
                            <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">PET COCA COLA ZERO 500CC...<br></p>
                            <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$230,00</p></div><div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                                <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                                </div>
                            </div>
                        </div>
                        <a href="item.php?id=29" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                    </div>
                </div>
                <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                                <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">AQUARIUS</h6>
                                <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">MANZANA...<br></p>
                                <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$200,00</p>
                            </div>
                            <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                                <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                                </div>
                            </div>
                        </div>
                        <a href="item.php?id=38" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                    </div>
                </div>
                <div data-aos="zoom-out" class="card mb-1" style="box-shadow: 7px 5px 20px; border-radius:20px;">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-7" style="padding-right: 0px;padding-left: 10px; padding-top:0">
                                <h6 style="font-family:LEMON MILK;font-size: 20px;word-wrap: normal;">Agua sin gas</h6>
                                <p class="lead text-left" style="font-size: 13px;margin-bottom: 5px;">agua sin gas...<br></p>
                                <p style="margin-bottom: 0px;font-size: 22px;font-weight: bold;">$190,00</p>
                            </div>
                            <div class="col-5" style="padding-right: 12px;padding-left: 0px;margin-right: 0px;">
                                <div data-aos="" style="border-radius: 10px; width: 100%;height: 160px;background: center / cover no-repeat; margin-left: 8px; margin-right:5px; line-height:150px;">
                                </div>
                            </div>
                        </div>
                        <a href="item.php?id=50" style="font-family: LEMON MILK; font-size: 14px; background: green;color: white;" class="btn-block stretched-link btn">Agregar a mi pedido</a>
                    </div>
                </div>
            </div>
</div>
</main>
</div>
<div class="footer-basic" style="background: rgb(239,239,239); margin-bottom:50px;">
    
    <footer>

        <%- include('./partials/footer') %>

    </footer>
</div>
    </body>
</html>