<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pizza Club</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />
</head>



<style>
    a:hover{text-decoration:none;}
    a{text-decoration:none;}
</style>

            <body style="background: rgb(239,239,239);">
<!--comienza el header-->
                <header class="mb-2" style="z-index: 5;">
                        <%- include('./partials/header') %>
                </header>
                    <main>
                        <div class="container"><meta /*http-equiv="refresh"*/ content="5; URL=">
                            <section>
                        <div class="card" style="box-shadow: 7px 5px 20px;">
                            <div class="card-body text-center"style="background: url(images/Pizza.jpg) center / cover no-repeat;height: 168px;"></div>
                        </div>
                            </section>

                            <section class="mt-4">
                        <div class="card">
                            <div class="card-body" style="background: rgb(239,239,239);padding: 0px;">
                                <a class="card-link" href="menu" style="color: rgb(89,89,89);">
                                    
                            <div class="card" style="box-shadow: 7px 5px 20px;">
                                <div class="card-body text-center">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h4 style="font-family: 'Nunito', sans-serif; font-size: 30px;">EN ESTE MOMENTO NO ESTAMOS TOMANDO PEDIDOS</h4>
                                            </div>
                                            <h5>Horarios de atencion: Mar a Dom de 18hs a 23hs <br> O hasta agotar stock.</h5>
                                        </div>
                                    </div><hr>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h4 style="font-family: 'Nunito', sans-serif; font-size: 30px;">CONSULTA NUESTRO MENU</h4>
                                            </div>
                                            <h5><a class="btn" style="background-color: black; color: white;" href="menu">Ver</a></h5>
                                        </div>
                                    </div>
                                                            <hr>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h4 style="font-family: 'Nunito', sans-serif;font-size: 30px;">CONOCE NUESTRAS ZONAS DE ENTREGA</h4>
                                            </div>
                                            <h5><a class="btn" style="background-color: black; color: white;" href="info_zonas.php">Ver</a></h5>
                                        </div>
                                    </div>
                                                        </div>
                            </div>
                        </a>
                    </div>
                </div>
                            </section>
                        </div>
                    </main>
<br>
<hr>
<div class="footer-basic" style="background: rgb(239,239,239); margin-bottom:50px;">
    <footer>

        <%- include('./partials/footer') %>

    </footer>
</div>
    </body>
</html>