<!DOCTYPE html>
<html lang="en">
<head>
    <title>CategoriasDeProducto</title>
    <%- include('./partials/head') %>
</head>

<style>
 
</style>
<body>
    <body style="background: rgb(239,239,239);">
        <header class="mb-2" style="z-index: 5;">
            <%- include('./partials/header') %>
        </header>
        <main>
            <div class="container">
    <section>
        <div class="card">
            <div class="card-body text-right" style="background: rgb(239,239,239);">
                <div class="text-left float-right">
                    <p style="color: rgb(92,92,92);font-size: 23px;font-family: 'Nunito', sans-serif;font-style: normal;margin-bottom: 0px;">
                    </p>
                </div>
                <div class="text-left">
                    <p style="color: rgb(92,92,92);font-size: 20px;font-family: 'Nunito', sans-serif;font-style: normal;margin-bottom: 0px;">
                        MENU<br></p>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-2">
        <div class="card" style="background: transparent;">
            <div class="card-body" style="background: rgb(239,239,239); padding:0px;">
                <div class="card jumbotron text-center mb-4" style="border-radius: 10px; background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),  url() center / cover no-repeat;">
                    <div class="card-body">
                        <h3 class="display-4" style="font-family: 'Nunito', sans-serif; font-size: 45px; text-shadow: 2px 2px 10px white;">POSTRES</h3>
                        <p class="lead" style="font-weight: 500; text-shadow: 2px 2px 10px white;">Proba estas delicias dulces para irte a dormir con una sonrisa.</p>
                        <a class="btn btn-dark stretched-link" style="background-color: blue; color: white;" href="postres" role="button">Ver mas</a>
                    </div>
                </div>
                <div class="card jumbotron text-center mb-4" style="border-radius: 10px; background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),  url() center / cover no-repeat;">
                    <div class="card-body">
                        <h3 class="display-4" style="font-family: 'Nunito', sans-serif; font-size: 45px; text-shadow: 2px 2px 10px white;">BEBIDAS</h3>
                        <p class="lead" style="font-weight: 500; text-shadow: 2px 2px 10px white;">Agrega a tu pedido algun bebida rica para bajar esa burger.</p>
                        <a class="btn btn-dark stretched-link" style="background-color: blue; color: white;" href="bebidas" role="button">Ver mas</a>
                    </div>
                </div>
                <div class="card jumbotron text-center mb-4" style="border-radius: 10px; background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),  url() center / cover no-repeat;">
                    <div class="card-body">
                        <h3 class="display-4" style="font-family: 'Nunito', sans-serif; font-size: 45px; text-shadow: 2px 2px 10px white;">PARA PICAR</h3>
                        <p class="lead" style="font-weight: 500; text-shadow: 2px 2px 10px white;">Unas buenas papas con onda para picar en familia y amig@s!!</p>
                        <a class="btn btn-dark stretched-link" style="background-color: blue; color: white;" href="paraPicar" role="button">Ver mas</a>
                    </div>
                    </div>
                    <div class="card jumbotron text-center mb-4" style="border-radius: 10px; background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url()  center / cover no-repeat;">
                        <div class="card-body">
                            <h3 class="display-4" style="font-family: 'Nunito', sans-serif; font-size: 45px; text-shadow: 2px 2px 10px white;">BURGERS</h3>
                            <p class="lead" style="font-weight: 500; text-shadow: 2px 2px 10px white;">Burgers con identidad propia. Pas치 y mir치.</p>
                            <a class="btn btn-dark stretched-link" style="background-color: blue; color: white;" href="burgers" role="button">Ver mas</a>
                        </div>
                    </div>    
                </div>
                <div class="card jumbotron text-center mb-4" style="border-radius: 10px; background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url()  center / cover no-repeat;">
                    <div class="card-body">
                        <h3 class="display-4" style="font-family: 'Nunito', sans-serif; font-size: 45px; text-shadow: 2px 2px 10px white;">PIZZAS</h3>
                        <p class="lead" style="font-weight: 500; text-shadow: 2px 2px 10px white;">Pizzas con identidad propia. Pas치 y mir치.</p>
                        <a class="btn btn-dark stretched-link" style="background-color: blue; color: white;" href="pizzas" role="button">Ver m&aacute;s</a>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</main>
</div>
</div>
<div class="footer-basic" style="background: rgb(239,239,239); margin-bottom:50px;">
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</div>
</body>
</html>