<div class="social">
    <a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a>
</div>
<!-- <p class="copyright">Webuuq © 2022</p> -->
<p class="copyright" style="font-size: 9px;">Nuestro sitio utiliza «cookies» para mejorar tu experiencia de navegación</p>
