
        <div style="display: flex;justify-content: space-evenly;" >
                        <a style="color: black;" href="https://www.facebook.com//" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
                        <a style="color: black;" href="https://www.instagram.com/pueblaburgerss/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
             
        </div>
        <!-- <p class="copyright">Webuuq © 2022</p> -->

        <p style="text-align: center;">Pizza-Club ATR © 2022</p> 
        <p   style="font-size: 9px; text-align: center;">Nuestro sitio utiliza «cookies» para mejorar tu experiencia de navegación</p>