<nav class="navbar navbar-light navbar-expand-md sticky-top d-xl-flex">
    <div class="container-fluid">
        <a class="navbar-brand m-auto" href="/"><img class="d-xl-flex" src="images/Pizza.svg" style="height: 168px;" alt="logo" loading="eager"></a>
    </div>
</nav>